<%- include("partials/header"); -%>
<h1>My pretty blogs</h1>

<%  foundUsers.forEach(function(user){ %>
<div>
  <h2><%=user.userName%></h2> <a href="/user/<%=user.userName%>">閱讀更多...</a>
  <!-- <p><%=user.email%> </p> -->
</div>
<% }) %>

<%- include("partials/footer"); -%>
